#twitterUserListManagement {
	display: inline-block;
	width: 500px;
	position: absolute;
	background-color: #47474A;
	border-radius: 5px;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-family: arial;
	box-shadow: 5px 5px 5px pink;
	max-height: 350px;
	overflow-y: scroll;
	display: inline-block;
	margin: 27px 0 0 10px;
}
.twitter-name {padding: 10px;}
.twitter-user-lists {background-color: #383639; border-top: 1px solid rgba(0, 0, 0, 0.35); border-bottom: 1px solid rgba(0, 0, 0, 0.35);}
.twitter-list-item {padding: 10px; cursor: pointer;}
.twitter-list-item:hover {background-color: rgba(102, 101, 103, 1);}
.lock-icon {background: url('/images/lock.png') no-repeat; display: inline-block; width: 15px; height: 18px; padding-right: 5px;}
.plus-icon {background: url('/images/plus.png') no-repeat; display: inline-block; width: 15px; height: 15px; padding-right: 5px;}
.checkbox {display: inline-block; background-color: #2C2C2C; width: 15px; height: 15px; float: right; border-radius: 3px; color: green;}
.checkbox.checked:before {content: "\2714";}
#twitterUserListManagement {display: none;}