<div class="twitter-user" data-id="<%= userID %>">
	<div class="twitter-name">
		<img src="<%= pictureURL %>">

		<%= userName %>

		<span class="arrow-collapse">
	</div>

	<div class="twitter-user-lists">
		<% for (var listItem in lists) { %>
		<div class="twitter-list-item" data-id="<%= lists[listItem].id %>">
			<span class="lock-icon"></span>

			<%= lists[listItem].name %>

			<span class="checkbox <% if (lists[listItem].twitterUserInList) { %>checked<% } else { %>unchecked<% } %>"></span>
		</div>
		<% } %>
		<div class="twitter-list-item">
			<span class="plus-icon"></span>

			NEW LIST...
		</div>
	</div>
</div>